*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
video, img{
    max-width: 100%;
}
.main-grid{
    display: grid;
    grid-template-columns:
        1rem
        repeat(4, 1fr)
        1rem;
    gap: 0 1vw;
    width: 100vw;
    overflow-x: hidden;
    @media screen and (min-width:1100px){
        grid-template-columns: repeat(12,1fr) ;
    }
}
.hero{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 70px auto 70px;
    height: 100vh;
    background: url('imgs/john-towner-JgOeRuGD_Y4-unsplash.jpg');
    background-position: center;
    background-size: cover;

    header{
        grid-column: 2/-2;
        display: grid;
        grid-template-columns: subgrid;
        place-items: center center;
        .logo{
            color: #fff;
            font-size: clamp(1.2rem, 5vw, 2rem);
            span{
                color: #E4B845;
            }
        }
        .nav{
            grid-column: 3/6;
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: rgba(#fff, 0.7);
            font-size: clamp(1rem, 4vw, 1.5rem); 
        }
    }
    &__container{
        place-self: center center;
        grid-column: 2/6;
        .title{
            font-size: clamp(2rem, 7vw, 4rem);
            color: #E4B845;
            margin-bottom: 1rem;
        }
        video{
            border-radius: 1rem;
            margin-bottom: 1rem;
        }
        .discription{
            font-size: clamp(1rem, 5vw, 2rem);
            color: #fff;
        }
        @media screen and (min-width:720px){
            display: grid;
            grid-template-columns: subgrid;
            grid-auto-flow: dense;
            .title{
                grid-column: 1/3;
                font-size: clamp(2rem, 6vw, 4rem);
            }
            video{
                grid-column: 3/5;
            }
            .discription{
                font-size: clamp(1rem, 3vw, 2rem);
                grid-column: 1/3;
            }
        }
    }
    .links{
        grid-column: 2/6;
        color: #E4B845;
        place-self: center center;
        display: flex;
        justify-content: space-evenly;
        width: clamp(200px, 60vw, 500px);
        font-size: clamp(1rem, 5vw, 2rem);
    }
    @media screen and (min-width:1100px){
        header{
            .logo{
                grid-column: 1/3;
            }
            .nav{
                grid-column: 8/-1;
            }
        }
        &__container{
            grid-column: 3/-3;
            .title{
                grid-column: 1/6;
            }
            video{
                grid-column: 6/-1;
                place-self: center center;
            }
            .discription{
                grid-column: 1/5;
            }
        }
        .links{
            grid-column: 9/-2;
            width: 100%;
        }
    }
}
.about{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    background: url('imgs/discription-bg.png');
    background-position: right;
    background-size: cover;
    height: 80vh;
    .title{
        grid-column: 3/6;
        font-size: clamp(2rem, 6vw, 3.5rem);
        color: #E4B845;
        margin-bottom: 1rem;
        text-align: center;
        place-self: end end;
    }
    .text{
        grid-column: 3/6;
        color: #fff;
        place-self: start center;
        font-size: clamp(1.5rem, 5vw, 2rem);
    }
    @media screen and (min-width:720px){
        .title, .text{
            grid-column: 4/6;
        }
    }
    @media screen and (min-width:1100px){
        .title, .text{
            grid-column: -5/-2;
        }
    }

}
.oportunity{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    background: linear-gradient(#816212, #E4B845);
    padding: 10% 0;
    .benefits{
        grid-column: 2/-2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline; 
        align-content: flex-start;
        color: #fff;
        margin-bottom: 2rem;
        &__item{
            width: clamp(100px, 40vw, 300px);
            font-size: clamp(1rem, 3vw, 1.5rem);
            img{
                display: block;
                width: 100px;
                height: 90px;
                margin: 0 auto;
            }
        }
    }
    .discription1, .discription2{
        grid-column: 2/6;
        margin-bottom: 1rem;
        img{
            border-radius: 1rem;
        }
        .title{
            color: #D5C748;
            font-size: clamp(2rem, 5vw, 3.5rem);
        }
        .text{
            color: #fff;
            font-size: clamp(1rem, 4vw, 1.5rem);
        }
    }
    .img-galery{
        grid-column: 2/-2;
        margin-bottom: 1rem;
        img{
            border-radius: 1rem;
            margin-bottom: 1rem;
        }
    }
    @media screen and (min-width:720px){
        .discription1, .discription2{
            display: grid;
            grid-template-columns: subgrid;
            grid-template-rows: 4rem auto;
            img{
                grid-column: 1/3;
                grid-row: 1/3;
            }
            .title, .text{
                grid-column: 3/5;
            }
        }
        .img-galery{
            display: grid;
            grid-template-columns: subgrid;
            align-items: stretch;
            :nth-child(2){
                grid-column: 2/4;
            }
        }
    }
    @media screen and (min-width:1100px){
        .discription1{
            grid-column: 2/9;
            img{
                grid-column: 1/4;
                align-self: stretch;
            }
            .title, .text{
                grid-column: 4/-1;
            }
        }
        .discription2{
            grid-column: -2/-9;
            img{
                grid-column: -1/-4;
                align-self: stretch;
            }
            .title, .text{
                grid-column: -4/1;
            }
        }
        .img-galery{
            :first-child{
                grid-column: 1/4;
            }
            :nth-child(2){
                grid-column: 4/-4;
            }
            :last-child{
                grid-column: -1/-4;
            }
        }
    }
}
.contact{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    background: url('imgs/samuel-ferrara-dKJXkKCF2D8-unsplash.jpg');
    background-position: center;
    background-size: cover;
    padding: 10% 0;
    &__form{
        place-self: center center;
        width: 100%;
        grid-column: 2/6;
        background: linear-gradient(180deg, rgba(35, 150, 191, 0.22) 0%, rgba(13, 91, 119, 0.4) 31.33%, rgba(0, 73, 97, 0.03) 69.29%, rgba(0, 73, 97, 0.34) 100%);
        padding: 5%;
        border-radius: 2rem;
        .title{
            color: #E4B845;
            text-align: center;
            margin-bottom: 1rem;
            font-size: clamp(2rem, 4vw, 3.5rem);
        }
        label{
            color: #fff;
            display: block;
            margin-bottom: 0.2rem;
            font-size: clamp(1rem, 4vw, 2rem);
        }
        input, textarea{
            width: 100%;
            padding: 0.3rem 1rem;
            border: none;
            color: #000;
            border-radius: 1rem;
            margin-bottom: 0.5rem;
        }
        button{
            display: inline-block;
            padding: 0.4rem 2rem;
            background-color: #E4B845;
            color: #fff;
            border: none;
            border-radius: 1rem;
            font-size: clamp(1rem, 4vw, 2rem);
            cursor: pointer;
        }
    }
    @media screen and (min-width:720px){
        &__form{
            grid-column: 3/5;
        }
    }
    @media screen and (min-width:1100px){
        &__form{
            grid-column: 4/-4;
        }
    }
}



